/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-text-size-adjust: 100%;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.hamburger{
	display: none;
	z-index: 1;
}

p{
	cursor: default;
}



/*
========================================
Formatting
========================================
*/
body{
	background: #fff ;
	font-family: 'Verdana', sans-serif;
}

h1{
	color:#000;
	font-size:45px;
	cursor: default;
}

h2{
	color:#000;
	font-size:30px;
	cursor: default;
}
section{
  margin:5px 5px 5px 5px;

}
.First{
	margin-top: 85px;
}
.project{
	float: right;
	width: 48%;
}
.project img{
	width:100%;
}
.project_text{
	width:50%;
	float:left;
}

section a{

  color:#000;
  line-height: 2;
}
small{
	color:#fff;
}

.grid{
	padding-top: 30px;
	padding-bottom: 30px;
	display:block;
	margin-bottom:10px;
}

.index{
	padding-top: 30px;
}
.container {
    position: relative;
    text-align: center;
    color: #fff;
}
/*
========================================
Favicons
========================================
*/
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Linkedin */
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background: black;
  color: white;
}
/*
========================================
Header
========================================
*/
header{
	background-color: rgba(14,14,14);
	position: fixed;
	top:0;
	height:80px;
	width:100%;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	margin-bottom:85px;
	z-index: 5;
}
.primary-nav{
	font-size: 17px;
	font-weight: 400;
	letter-spacing:.5px;
	text-transform: uppercase;
	padding-top:26px;
	padding-right: 10px
}
a{
	text-decoration: none;
	color: #fff;
	-webkit-tap-highlight-color: rgba(0,0,0,0.3);
	cursor: pointer;

}
a:hover{
	color: #D64933;
}

.nav a{
	transition:0.25s ease;
	-webkit-transition:0.25s ease;
	-o-transition:0.25s ease;
	-moz-transition:0.25s ease;
}

.nav{
	float:right;
	text-align:right;

}
.nav li{
	display: inline-block;
	margin: 0 30px;
	vertical-align:top;
	list-type:none;

}
.nav li:last-child{
	margin-right:20px;
}


.current{
	color: #D64933;
}
.logo{
  padding-top: 5px;
	margin-left:20px;
	margin-bottom:10px;
	height:66px;
	width: auto;
	display:inline-block;
	float:left;
	box-sizing: border-box;
	cursor: pointer;
}
.header-text{
	padding-top:18px;
	font-size: 20px;
	padding-left:5px;
	color:#fff;
	float:left;
	text-align:center;
	cursor: pointer;

}

.header-box {
	-webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

.header-box h1{
	transition:0.25s ease;
	-webkit-transition:0.25s ease;
	-o-transition:0.25s ease;
	-moz-transition:0.25s ease;
}

.header-box:hover h1{
	color: #D64933;
}


/*
========================================
Body
========================================
*/
.button{
	display: block;
	color:#fff;
	font-size: 20px;
	border-radius: 2px;
  	cursor: pointer;
	border: 1px solid #D64933;
    padding: 12px 10px;
	transition:0.25s ease;
	-webkit-transition:0.25s ease;
	-o-transition:0.25s ease;
	-moz-transition:0.25s ease;
	width: 55%;
	margin: auto;
	margin-bottom: 20px;
	z-index: 4;
	background: none;

}

.button:hover{
	background: #D64933;
	color: #fff;
	z-index: 4;


}

.button a:hover{
	color: #fff;
}

.still{
  margin-top: 80px;
	width:100%;
	height:auto;

}

/*
========================================
Footer
========================================
*/
footer{
	width:100%;
	height: 40px;
	background:#0E0E0E;
	padding-top:30px;
	padding-bottom:40px;
	padding-left:20px;
	padding-right:20px;
	float:left;
	box-sizing:border-box;
	position: static;
	display: block;
}

.secondary-nav{
	font-size: 14px;
	font-weight: 400;
	letter-spacing:.5px;
	padding:0;
	text-transform: uppercase;
	display: inline-block;
}
/*
========================================
Columns
========================================
*/
.col-1-2{
	float:left;
	width: 48%;
	padding-top: 85px;
}

.col-2-2{
	float:right;
	width: 48%;
}

.col-2-3{
	float:left;
	width: 60.66%;

}

.col-1-3{
	float: right;
	width: 31.33%;
	margin-bottom: 70px;



}
.col-no-border{
	list-style: none;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding: 4px 10px;
	margin: 0;
	float: left;
	text-align: left;
	cursor: pointer;
	margin-right: 20px;
}

/*
========================================
Hamburger
========================================
*/

.transition{
	width:23px;
}

.transition:nth-child(1){
	-webkit-transform: translate(0,8px)rotate(-45deg);
	transform: translate(0,8px)rotate(-45deg);
}

.transition:nth-child(2){
	opacity:0;
}

.transition:nth-child(3){
	-webkit-transform: translate(0,-8px) rotate(45deg);
	transform: translate(0,-8px) rotate(45deg);
}

.hide {
	opacity:0;
}

.ham-overlay
{
	position:absolute;
	opacity:0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
	-webkit-transition: opacity .5s , z-index .25s ease ;
	-moz-transition: opacity .5s , z-index .25s ease;
	-o-transition: opacity .5s , z-index .25s ease;
	-ms-transition: opacity .5s , z-index .25s ease;
	transition: opacity .5s , z-index .25s ease ;
	z-index:-1;
	text-align: center;

}

.noScroll
{
	overflow:hidden;
	position:fixed;
}

.show
{
	opacity:1;
	z-index: 1;
	-moz-transition: opacity .5s;
	-ms-transition: opacity .5s ;
	-o-transition: opacity .5s  ;
	-webkit-transition: opacity .5 ;
	transition: opacity .5s  ;
}

.carousel-indicators
{
	height:10px;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
	-o-transition: opacity .25s ease;
	-ms-transition: opacity .25s ease;
	transition: opacity .25s ease;
}

/*
========================================
About
========================================
*/

.about{
  margin-top: 20px;
  color:#fff;
}
.about p{
  margin-bottom: 60px;
  line-height: 2;
  text-align: justify;
}

.about h1{
  margin-bottom: 30px;

}

.accordion {
	background: none;
	color: #fff;
	cursor: pointer;
	padding: 18px;
	width: 75%;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.35s;
	border: 1px solid #fff;
}

.active-accord, .accordion:hover {
	background-color: #d14545;

}

.panel {
    padding: 0px 18px;
    background-color: #FFEBEB;
    overflow: hidden;
    border-radius: 0;
	box-sizing: border-box;
	transition: max-height 0.2s ease-out;
	width: 75%;
	display:block;
	border: 1px solid #fff;
	max-height:0;
	border-top:none;
	margin-bottom:0;
	line-height: 1.5;
	padding-bottom: 0;

}


.panel p{
  color: #000;
  padding-top:20px;
  line-height: 1.5;
  margin-bottom:0;
  padding-bottom:20px;
}

.panel a{
  color: #e85c5c;
  text-decoration: underline

}

.arrow{
    float: right;
    margin-right: 10px;
	margin-top: auto;
	margin-bottom: auto;
	box-sizing: border-box;

}

.arrow-last{
    float: right;
    margin-right: 10px;
	margin-top: auto;
	margin-bottom: auto;
	box-sizing: border-box;

}

.col-8-10{
	width: 85%;
	display: inline-block;

}

.arrow-line{
  border-bottom: 4px solid #fff;
  width:15px;
  border-radius:10px;
  -webkit-transition: 0.4s all;
}

.active-accord .arrow-line:nth-child(1) {
  -webkit-transform: translate(0,8px)rotate(-45deg);
  transform: translate(0,8px)rotate(-45deg);
}

.active-accord .arrow-line:nth-child(2) {
  -webkit-transform: translate(0,9px) rotate(45deg);
  transform: translate(9px, 4px) rotate(45deg);
}

.arrow-line:nth-child(1){
  -webkit-transform: translate(0,9px)rotate(45deg);
  transform: translate(0,8px)rotate(45deg);
}

.arrow-line:nth-child(2){
  -webkit-transform: translate(0,9px) rotate(-45deg);
  transform: translate(9px, 4px) rotate(-45deg);
}

.arrow-line-invert{
  border-bottom: 4px solid #fff;
  width:20px;
  border-radius:10px;
  -webkit-transition: 0.4s all;
}

.arrow-line-invert:nth-child(1){
  -webkit-transform: translate(0,9px)rotate(-45deg);
  transform: translate(-2px,8px)rotate(-45deg);
}

.arrow-line-invert:nth-child(2){
  -webkit-transform: translate(0,9px) rotate(45deg);
  transform: translate(10px, 4px) rotate(45deg);
}

.venue-map {
  width: 100%;
  height:300px;
  margin: 0;
}


label
{
	margin-bottom: 8px;
	width:150px;
	color:#fff;
}

input
{
	width:100%;
	margin-bottom:20px;
	font-size:16px;
	color:#000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	padding: 5px;
}

textarea
{
	background-color:#fff;
	font-size:16px;
	height: 170px;
	width:100%;
	z-index:0;
	color:#000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	padding: 5px;
	max-width:100%;

	min-height:150px;
	max-height:500px;

}


select
{
	width: 100%;
	font-size: 16px;
	cursor: pointer;
   -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	color:#000;
	margin-bottom:25px;
	padding: 5px;

}

.contact{
	margin-top: 10px;
}

.form-button{
	display: inline-block;
	margin-right: 30px;
	color:#fff;
	font-size: 20px;
	border-radius: 2px;
  	cursor: pointer;
	border: 1px solid #fff;
    padding: 12px 10px;
	transition:0.25s ease;
	-webkit-transition:0.25s ease;
	-o-transition:0.25s ease;
	-moz-transition:0.25s ease;
	width: 40%;
	margin: auto;
	margin-bottom: 20px;
	z-index: 4;
	background: none;

}

#reset{
	float:right;
}

.form-button:hover{
	background: #e85c5c;
	color: #fff;
	z-index: 4;
}

.map{
	margin-top: 125px;
	margin-bottom: 20px;
	float: left;
}

.map p{
	font-size: 20px;
	color: #fff;
	line-height: 2.5;
	margin-bottom: 0;
}

.map a{
  color: #e85c5c;
  text-decoration: underline

}

.address{
	float: right;
	padding-top: 50px;
	font-size: 18px;
}

.back-to-top{
	position: fixed;
	right: 20px;
	width: 85px;
	background-color: rgba(231,73,76,0.5);
	height: 90px;
	padding: 10px;
	color: #fff;
	text-align: center;
	-webkit-border-radius:10px;
    -moz-border-radius: 10px;
	border-radius: 10px;
	bottom: 40px;
	cursor: pointer;
	display: block;
	opacity: 0;
	visibility: hidden;
    transition: visibility 0s, opacity 0.2s linear, width 0.1s ease, height 0.1s ease;

}

.back-to-top p{

	cursor: pointer;
	padding: 0;
	margin: 0;
	line-height: 1.5;
}



.back-to-top:hover{

	width: 90px;
	height: 95px;
	background-color: rgba(235,38,41,1.00);
}

.top-arrow{
	width: 100%;
	height: 30px;
	margin: 0;
	padding: 0;
	float: none;
	padding-right: 6px;
	cursor: pointer;

}

.logo-container{
	-webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

.logo-container h1{
	transition:0.25s ease;
	-webkit-transition:0.25s ease;
	-o-transition:0.25s ease;
	-moz-transition:0.25s ease;
}

.logo-container:hover h1{
	color: #e85c5c;
}
